@mixin font-face($font-type, $font-weight) {
    $font-type-woff: ".woff";
    $font-type-woff2: ".woff2";
    @font-face {
        $pathToFont:"/fonts/GraphikLCG"+$font-type;
        font-family: 'GraphikLCG';
        src: url($pathToFont + $font-type-woff) format($font-type-woff),
             url($pathToFont + $font-type-woff2) format($font-type-woff2);
        font-weight: $font-weight;
        font-style: normal;
    }
}
@include font-face ('GraphikLCG-Regular',400);
@include font-face('GraphikLCG-Semibold',500);
